.container_post {
    width: 385px;
    margin: 0 25px 40px 25px;
}

.imgPost {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
}

.postInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postCat {
    font-size: 1.3rem;
    color: #c1c1c1;
    font-weight: 500;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.postTitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;

}

.postDate {
    font-style: italic;
    font-size: .9rem;
    color: #c1c1c1;
    margin-top: 15px;
}

.postDesc {
    font-size: 1.3rem;
    color: #444;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}